
li#liLogo
  text-align center

#navLogo
  width 200px
  height 100px

html, body, .non-footer
  height 100%
  min-height 100%
  width 100%

#idLoginError
  display: none

#idRegError
  display :none

#footer
  height 240px
  margin-top: -240px
  width: 100%

 #lineChart .c3-axis-y-label
  font-size 12px
  font-weight bold
  font-family sans-serif

#lineChart .c3-line-aktuelle-kalenderwoche
  stroke-width 3px

.reduceWidth
  width 50%

.storeStatsColor
  color #2CB00F

.marginTop
  margin-top 30%

.marginTopLess
  margin-top 10%

.marginTopLesser
  margin-top 5%

.loginText
  padding 40px
  font-family 'Dosis',sans-serif
  text-align center
  font-size 22px
  font-weight bold
  border-style solid
  border-color gray
  border-radius 10px

.btnGreen
  background-color #841967
  background-image -webkit-linear-gradient(bottom, #27a00c 0, #35ca15 100%)
  background-image linear-gradient(to top, #27a00c 0, #35ca15 100%)
  border 1px solid #3da626
  border-radius 2px
  box-shadow inset 0 2px 0 #70d25a
  text-shadow 0 2px 3px rgba(1,1,1,0.2)
  color white
  font-size 16px
  font-weight 900
  line-height 49px
  text-transform uppercase
  outline 0
  width 100%

.textColorGray
  color #B6B6B6

.textColorBlue
  color #337ab7

#loginRegRef:hover
   cursor pointer
   text-decoration underline
   color #0000CD

#regLoginRef:hover
   cursor pointer
   text-decoration underline
   color #0000CD

.smallFont
  font-size 14px

.textAlignRight
  text-align right

.textAlignLeft
  text-align left

.fontSize
  font-size 18px !important

.normalFont
  font-size 12px

#logo
  text-align center
  font-size 26px
  color #2CB00F

.btnGreen:active {
    position: relative;
    top: 1px;
}

